/* Define CSS variables */
:root {
    --border: 2px solid black;
    --border-radius: 5px;
}

/* Set body styles */
body {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

/* Header styles */
header {
    width: 100%;
    height: 100px;
    font-family: 'Georgia';
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

/* Main content styles */
main {
    margin: 20px;
}

/* Top row styles */
#top-row {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

/* Search form styles */
#search-form {
    margin: 5px;
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 50%;
}

/* Audio player styles */
#audio-player-div {
    margin: 5px;
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 50%;
}

/* Middle row styles */
#middle-row {
    display: flex;
}

/* Artist and song info container styles */
#artist-song-info-container,
#lyrics-container {
    margin: 5px;
    padding: 5px;
    border: var(--border);
    border-radius: var(--border-radius);
    /* width: 50%; */
    width: 100%;
    min-height: 300px;
}

/* Footer styles */
footer {
    text-align: center;
}
